.home{
    max-width: 800px;
    margin: 50px auto;
}

.home input {
    display: block;
    width: 100%;
    border: 1px solid #b8b5b5;
    background: white;
    height: 25px;
    outline: none;
    font-size: 20px;
    padding: 5px 10px;
}

.home button{
    border: #b8b5b5;
    background: #b8b5b5;
    color: darkslategrey;
    padding: 15px 40px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}